/* -------------------- FONTS -------------------- */
@import "fonts";

$family-lato-regular: 'Lato';
$family-lato-bold: 'Lato';

$main-line-height: 180%;

@mixin body-xlarge-bold {
    font-family: $family-lato-bold;
    font-size: 24px;
    font-weight: 700;
    line-height: $main-line-height;
}

@mixin body-xlarge {
    font-family: $family-lato-regular;
    font-size: 24px;
    font-weight: 400;
    line-height: $main-line-height;
}

@mixin body-large-bold {
    font-family: $family-lato-bold;
    font-size: 18px;
    font-weight: 700;
    line-height: $main-line-height;
}

@mixin body-large {
    font-family: $family-lato-regular;
    font-size: 18px;
    font-weight: 400;
    line-height: $main-line-height;
}

@mixin body-medium-bold {
    font-family: $family-lato-bold;
    font-size: 16px;
    font-weight: 700;
    line-height: $main-line-height;
}

@mixin body-medium {
    font-family: $family-lato-regular;
    font-weight: 400;
    font-size: 16px;
    line-height: $main-line-height;
}

@mixin body-small-bold {
    font-family: $family-lato-bold;
    font-size: 14px;
    font-weight: 700;
    line-height: $main-line-height;
}

@mixin body-small {
    font-family: $family-lato-regular;
    font-size: 14px;
    font-weight: 400;
    line-height: $main-line-height;
}

@mixin h1-bold {
    font-family: $family-lato-bold;
    font-weight: 700;
    font-size: 56px;
}

@mixin h2-bold {
    font-family: $family-lato-bold;
    font-weight: 700;
    font-size: 40px;
}

@mixin h4-bold {
    font-family: $family-lato-bold;
    font-weight: 700;
    font-size: 32px;
}

/* -------------------- FONTS -------------------- */


/* -------------------- COLORS -------------------- */

$main-background: #F9F9F9;
$second-background: #39808B;
$second-background2: #57C7D4;
$main-text: #2E2E2E;
$second-text: $second-background;

//buttons
$main-button: $second-background;
$second-button: $main-text;

/* -------------------- COLORS -------------------- */

/* -------------------- GRID -------------------- */

*,
::after,
::before,
body {

    @include body-medium();

 

   /*  outline: 1px solid red; */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $main-text;

  
  
}

.main-wrapper {
    display: flex;
    margin-top: 120px;

    flex-wrap: wrap;
}

.main-component {
    max-width: 1440px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 32px 160px;
    margin: auto;

    @media (max-width: 768px) {
       padding: 32px 80px;
    }

    @media (max-width: 320px) {
        padding: 16px 10px !important;
     }
}

h2 {
    font-family: $family-lato-bold;
    font-size: 40px;
}

button {
    padding: 16px 32px;
    font-size: 18px;
    border: 1px solid #000;   
    background-color: $second-background;
    box-shadow: 4px 4px 0px 0px $main-text;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    box-shadow: none;
}

a {
    text-decoration: none;

    @media (max-width: 425px) {
        padding: 8px 20px !important;
    }
}

li {
    list-style: none;
    font-size: 16px;
}

@media (max-width: 1000px) {
    p, span {
        font-size: 12px !important; 
    }

    h3 {
        font-size: 16px !important;
    }
}

@media (max-width: 425px) {
    h2 {
        font-size: 20px !important;
    }

    button {
        width: 100% !important;

        @media (max-width: 425px) {
            padding: 8px 20px !important;
        }
    }

    input::placeholder, textarea::placeholder {
        font-size: 10px;
    }

    .main-component {
        max-width: 425px;
        box-sizing: border-box;
        padding: 16px 80px;
    }

}

@media (max-width: 320px) {

    h3 {
        font-size: 10px !important;
    }
}