@import '../../styles/main';

.statistics__block {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .statistics__block-info {
        display: flex;
        width: 50%;
        gap: 32px;
        flex-wrap: wrap;

        @media (max-width: 768px) {
            width: 100%;
            margin-bottom: 50px;
        }

        .statistics__single {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: calc(50% - 32px);
            gap: 8px;
            padding: 30px;
            border: 1px solid $main-text;
            box-shadow: 4px 4px 0px 0px $main-text;
            transition: .3s;
            text-align: center;

            h3,
            p {

                font-size: 32px;
                font-family: $family-lato-bold;
            }

            @media (max-width: 425px) {
                width: 100%;

            }
        }

        .statistics__single:hover {
            box-shadow: none;
        }
    }

    .statistics__block-text {
        width: 50%;

        h2 {
            @include h4-bold;
            line-height: 140%;
            margin-bottom: 16px;
        }

        .team__members {
            display: flex;
            width: 50%;
            flex-wrap: wrap;

            p {
                font-size: 16px;
                font-family: $family-lato-bold;
                line-height: 140%;
                margin-bottom: 15px;
            }


            gap: 30px;

            @media (max-width: 425px) {
                width: 100%;

                li {
                    font-size: 12px;
                    line-height: 140%;
                }
            }
        }

        div {
            margin-top: 5px;
            margin-bottom: 5px;

            h3 {
                font-size: 24px;
                font-family: $family-lato-bold;
            }

            p {
                font-size: 12px;
            }
        }

        @media (max-width: 768px) {
            width: 100%;
        }
    }
}