@import '../../styles/main';

.testimonials {
    width: 100% !important;
    background-color: $second-background;
}

.testimonial-slider {
    margin: 0 auto !important;
    text-align: center;
    padding: 0 !important;
    padding-top: 120px !important;
    padding-bottom: 120px !important;
}

.slides {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 0px 160px;

    @media (max-width: 425px) {
        padding: 0;
    }

    .slide {
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
        gap: 24px;
        transform: translateX(-100%);
        width: 100% !important;
        z-index: 999;


      
        h3 {
            color: #000;
            font-size: 32px;
            line-height: 140%;
        }

        &.active {
            opacity: 1;
            transform: translateX(0%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 24px;
            width: 100%;
            z-index: 9999;
            height: 100%;

        }

        img {
            margin-bottom: 10px;
            width: 90px;
            height: 90px;
        }

        &__btn {
            background-color: transparent;
            color: #fff;
            border: none;
            cursor: pointer;
            width: 56px;
            height: 56px;
            transition: background-color 0.3s ease-in-out;
            z-index: 999999;
        }
    }

    .slide.prev {
        transform: translateX(-100%);
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
    }

    .slide.next {
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        position: absolute;
    }
}